/* Global Vars */
:root {
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
  --white: #ebebf0;
  --black: #101014;
  --brown: #d9bba0;
  --lightBlue: #829fd9;
  --blue: #00a3ce;
  --darkBlue: #273273;
  --yellowOrange: #ffb84d;
  --gold: #ffae00;
  --green: #05954e;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  font-family: var(--montserrat);
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 3;
  padding: 10px 15px;
  background: var(--blue);
}

#newOfferButton {
  margin-left: 170px;
}

#titleName {
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(252, 236, 148, 1) 15%, rgba(250, 154, 4, 1) 85%);
  -webkit-background-clip: text; /* For WebKit/Blink browsers like Chrome and Safari */
  color: transparent; /* Make text transparent */
}

#displayName {
  font-size: 15px;
  font-weight: bold;
  color: var(--gold);
}

button {
  font-family: var(--montserrat);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: auto; /* Center the form horizontally */
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

.error {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 5px;
}
