/* Global Vars */
:root {
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
  --white: #ebebf0;
  --black: #101014;
  --brown: #d9bba0;
  --lightBlue: #829fd9;
  --darkBlue: #273273;
  --yellowOrange: #ffb84d;
  --gold: #ffae00;
  --green: #05954e;
}

article {
  min-height: 560px;
  max-height: 560px;
  border: var(--black) 3.5px solid;
  border-radius: 10px;
  display: flex;
  font-family: var(--montserrat);
  text-align: center;
}

article h2 {
  padding: 12px 0px;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: var(--green);
  -webkit-text-stroke: 1px black; /* 1px black text stroke */
}

article .date {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--green);
  -webkit-text-stroke: 1px black; /* 1px black text stroke */
  white-space: normal;
  word-wrap: break-word;
  font-style: italic;
}

article .author {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--green);
  -webkit-text-stroke: 1px black; /* 1px black text stroke */
  white-space: normal;
  word-wrap: break-word;
}

article .body {
  padding: 5vh;
  max-width: 351px;
  white-space: normal;
  word-wrap: break-word;
  background-color: var(--yellowOrange);
  color: var(--white);
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: var(--black) 1px 1px 1px;
}

article button {
  margin: 15px;
}

article #postImage {
  max-height: 300px;
  min-width: 15vw;
  width: 20vw;
  min-height: 20vh;
  border-radius: 10px;
  border: #101014 solid 1px;
  margin: 10px;
  transition: transform 0.5s;
}

article #postImage:hover {
  transform: scale(1.07);
}

.authorID {
  font-weight: bold;
  text-decoration: underline;
}

.articleEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, rgba(252, 236, 148, 1) 15%, rgba(250, 154, 4, 1) 85%);
  padding: 0;
  margin: 0;
  height: 100vh;
}
