/* Global Vars */
:root {
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
  --white: #ebebf0;
  --black: #101014;
  --brown: #8c593b;
  --lightBlue: #829fd9;
  --blue: #00a3ce;
  --darkBlue: #273273;
  --yellowOrange: #ffb84d;
  --gold: #ffae00;
  --green: #05954e;
  --red: #ff293b;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.detailContainer {
  font-family: var(--montserrat);
  width: 100%;
  height: 100vh;
}

#detailsTitleAndLogo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(252, 236, 148, 1) 15%, rgba(250, 154, 4, 1) 85%);
  -webkit-background-clip: text; /* For WebKit/Blink browsers like Chrome and Safari */
  color: transparent; /* Make text transparent */
  cursor: pointer;
}

#descriptionTitle,
#offerTitle,
#locationTitle {
  color: var(--brown);
  font-weight: bold;
  text-shadow: var(--black) 1.1px 1.1px;
}

.leftPane {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35%;
  height: 100vh;
  float: left;
  border-collapse: collapse;
}

.middlePane {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 30%;
  float: left;
  height: 100vh;
  border-collapse: collapse;
  border-radius: 30px;
}

.rightPane {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-collapse: collapse;
}

#buyButton,
#backButton {
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 20px;
  border: var(--blue) 3px solid;
  background-color: var(--white);
}

#image {
  display: flex;
  align-items: center;
  max-height: 500px;
  min-width: 20vw;
  width: 20vw;
  min-height: 20vh;
  object-fit: cover;
  border-radius: 20px;
  border: var(--black) 4px solid;
  box-shadow: var(--black) 3px 3px 3px;
  transition: transform 0.5s;
}

#image:hover {
  transform: scale(1.06);
}

#imageAndButton {
  margin-top: 60px;
}

#buyButton {
  font-size: 15px;
  color: var(--black);
  font-weight: bold;
  margin-top: 10%;
}

#googleMapsWidget {
  width: 95%;
  height: 50%;
  margin-right: 3%;
  margin-top: 2%;
  border: var(--black) 4px solid;
  box-shadow: var(--black) 3px 3px 3px;
}
