/* Global Vars */
:root {
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
  --white: #ebebf0;
  --black: #101014;
  --brown: #d9bba0;
  --lightBlue: #829fd9;
  --blue: #00a3ce;
  --darkBlue: #273273;
  --yellowOrange: #ffb84d;
  --gold: #ffae00;
  --green: #05954e;
}

#LoadingGif {
  display: flex;
  font-size: large;
  font-weight: bold;
  font-family: var(--montserrat);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(252, 236, 148, 1) 15%, rgba(250, 154, 4, 1) 85%);
}

#offerImage {
  border: var(--black) 3.5px solid;
  border-radius: 100px;
}
