/* Global Vars */
:root {
  --montserrat: Montserrat;
  --barlow: Barlow Condensed;
  --white: #ebebf0;
  --black: #101014;
  --brown: #8c593b;
  --lightBlue: #829fd9;
  --blue: #00a3ce;
  --darkBlue: #273273;
  --yellowOrange: #ffb84d;
  --gold: #ffae00;
  --green: #05954e;
  --red: #ff293b;
}

article {
  margin: 10px;
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--white);
  font-family: var(--montserrat);
  min-height: 560px;
  max-height: 560px;
  border: var(--black) 3.5px solid;
  border-radius: 10px;
  box-shadow: var(--black) 3px 3px 3px;
  transition: transform 0.5s;
  cursor: pointer;
}

article:hover {
  transform: scale(1.03);
}

article h2 {
  padding: 10px 0px;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: var(--brown);
  border-radius: 100px;
}

article #offerImage {
  max-height: 300px;
  min-width: 15vw;
  width: 20vw;
  min-height: 20vh;
  border-radius: 10px;
  border: #101014 solid 3px;
  margin: 10px;
  transition: transform 0.5s;
}

article .price {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--blue);
  border-radius: 100px;
  white-space: normal;
  word-wrap: break-word;
}

article .date {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black);
  white-space: normal;
  word-wrap: break-word;
  font-style: italic;
}

article .author {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black);
  white-space: normal;
  word-wrap: break-word;
}

.authorID {
  font-weight: bold;
  text-decoration: underline;
}

article .body {
  padding: 5vh;
  max-width: 351px;
  white-space: normal;
  word-wrap: break-word;
  background-color: var(--yellowOrange);
  color: var(--white);
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
}

article button {
  margin: 15px;
}
